{% extends 'base.html.twig' %}
{% block body %}

<h1 class="text-center titre my-5">Votre compte</h1>

{# <button href="{{path('')}}" class="">mes commandes</button>
<button href="{{path('')}}" class="">mes adresses</button>
<button href="{{path('')}}" class="">mon panier</button>
<button href="{{path('')}}" class="">ma liste d'envie</button>
<button href="{{path('')}}" class="">mes donneés personnelles</button> #}
<div class="container-fluid d-flex  justify-content-center">
    <div class="col-4">
    <img src="{{asset('image/icone/silhouette.avif')}}" class="img-fluid silhouette">
    </div>
    <div class=" flex-column col-4">
        <button  class="my-3 btnCompte w-100">mes commandes</button>
        <button  class="my-3 btnCompte w-100">mes adresses</button>
        <button  class="my-3 btnCompte w-100">mon panier</button>
        <button  class="my-3 btnCompte w-100">ma liste d'envie</button>
        <button  class="my-3 btnCompte w-100">mes donneés personnelles</button>
        <div class="text-center">
            <button type="submit" href="{{path('app_logout')}}" class="my-5 mb-5 btnDeconnexion w-50">Déconnexion</button>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>

{% endblock %}