{% extends 'base.html.twig' %}


{% block body %}

<div id="carouselExample" class="carousel slide ">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('image/bandeau/saxophone.png')}}" class="d-block w-100 img-fluid" alt="saxophone en promotion">
    </div>
    <div class="carousel-item ">
      <img src="{{asset('image/bandeau/piano.png')}}" class="d-block w-100 img-fluid" alt="piano en promotion">
    </div>
    {# <div class="carousel-item">
      <img src="..." class="d-block w-100 img-fluid" alt="...">
    </div> #}
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    {# <img alt="flèche suivante" src="{{asset('image/icone/fleche.png')}}"> #}
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>  
</div>

<div class="d-flex flex-row  mt-2">
    <div class="d-flex flex-column col-md-4 align-items-center">
        <h2 class="my-5 textRubrique">Instrument à vent</h2>
        <img alt="instrument à vent" class="img-fluid rubrique" src="{{asset('image/rubrique/vent.jpg')}}">
    </div>
     <div class="d-flex flex-column col-md-4 align-items-center">
        <h2 class="my-5 textRubrique">Instrument à corde</h2>
        <img alt="instrument à vent" class="img-fluid rubrique" src="{{asset('image/rubrique/corde.jpg')}}">
    </div>
      <div class="d-flex flex-column col-md-4 align-items-center">
        <h2 class="my-5 textRubrique">Instrument à percussion</h2>
        <img alt="instrument à vent" class="img-fluid rubrique" src="{{asset('image/rubrique/percussion.jpg')}}">
    </div>
</div>

<h2 class="text-center titreMeilleureVente mb-5"> Découvrez nos meilleurs ventes</h2>
<div class="d-flex flex-row justify-content-center  ">
    {% set i=1 %}
    {% for instrument in instruments %}
        <div class="card cardVente mb-3 mx-2 col-md-3 " >
            <div class="card-body h-100 ">
                <div class="d-flex flex-row h-75">
                    <img alt="top {{i}}" class="img-fluid col-md-6 h-50 w-25" src="top/top{{i}}.png">
                    <img class="img-fluid col-md-6 w-50 " alt="{{ instrument.libelle }}" src="instrument/{{ instrument.photos }}">
                </div>
                <div class="h-25 ">
                    <h5 class="card-title text-center textVert">{{ instrument.libelle }}</h5>
                    <div class="d-flex flex-row-reverse mr-4">
                        <p class="card-text mx-5 textVert">à {{ instrument.prixHt }}€</p>
                    </div>
                    {# <a href="#" class="btn "><img alt="ajouter au panier" class="img-fluid" src="{{asset('image/icone/caddie.png')}}"></a> #}
                </div>
            </div>
        </div>
    {% set i=i+1 %}
    {% endfor %}
</div>

{% endblock %}
