{% extends 'base.html.twig' %}
{% block body %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-7 mt-4">
        <div class="card cardInstrument w-100 ">
            <h1 class="mx-4 titre text-center mt-5 ">{{ detail[0].libelle}}</h1>
            <div class="d-flex row ">
                <div class="card-img w-50  px-5">
                    <img class="img-fluid my-4 ms-4 cardInstrument " src="{{asset('instrument/'~ detail[0].photo.avecFond )}}"  alt="{{ detail[0].libelle }}">
                </div>
                <div class="card-text w-50 my-4 flex-column text-center">
                    <div class="h-75 pt-5">
                        <div class="mt-4 ms-5 ps-5">
                            <p class="prixInstrumentDetail mt-4 ms-5 ps-5 h-50">{{detail[0].prixHt}} €</p>
                        </div>
                        {% if detail[0].stockUnite > 0 %}
                            <p class="dispo h-50 mt-4">Disponible immédiatemment</p>
                            {% elseif detail[0].stockUnite == 0  %}
                            <p class="rupture h-50 mt-4">En rupture de stock</p>
                            {% else %}
                        {% endif %}

                    </div>
                    <div class="align-items h-25 me-3 ">
                        <img class="col-2 img-fluid" alt="ajouter dans mes favoris" src="{{asset('image/icone/coeurVide.png')}}">
                        <button class="btn btnAjoutPanierDetail col-9" href="#" type="button">ajouter au panier</button>
                    </div>
                </div>
            </div>
            <p class="titre text-center">Description</p>
            <table class="w-75 ms-5 my-3 mb-5">
            {% for description in descriptions %}
                <tr class=" description w-50 my-3 ">
                    <td class="col-1 px-3"><img class="img-fluid " src="{{asset('image/icone/point.avif')}}" alt="icone d'un point"></td>
                    <td>{{description.libelle}}</td>
                    <td >{{ description.info}}</td>
                </tr> 
            {% endfor %}
            </table>
        </div>
    </div>
</div> 
<div class=" d-flex justify-content-center ">
    <a class="col-6 d-flex justify-content-center my-3" type="submit" href="{{path('app_instrument',{'id': detail[0].rubrique.id})}}">
        <img alt="flèche retour en arrière" class="img-fluid avant col-1 " src="{{asset('image/icone/fleche.png')}}">
    </a>
</div>

{% endblock %}